<!DOCTYPE html>
<html>
  <head>
    <title>DunderMifflinPetShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Dunder Mifflin Pet Show</h1>
    <a href="/dogs">Dog</a>
    <a href="/employees">Employee</a>
    <hr>
    <%= yield %>
  </body>
</html>
